<!-- favicons -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="~@artichokeruby/logo/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="~@artichokeruby/logo/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="~@artichokeruby/logo/favicons/favicon-16x16.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="~@artichokeruby/logo/favicons/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="~@artichokeruby/logo/favicons/android-chrome-512x512.png"
/>
<link rel="manifest" href="~@artichokeruby/logo/favicons/site.webmanifest" />
<link
  rel="mask-icon"
  href="~@artichokeruby/logo/favicons/safari-pinned-tab.svg"
  color="#b91d47"
/>
<link rel="shortcut icon" href="~@artichokeruby/logo/favicons/favicon.ico" />
<meta name="msapplication-config" content="~@artichokeruby/logo/favicons/browserconfig.xml" />
<meta name="msapplication-tilecolor" content="#b91d47" />
<meta
  name="msapplication-tileimage"
  content="~@artichokeruby/logo/favicons/mstile-150x150.png"
/>
<meta name="theme-color" content="#ffffff" />
