<footer class="container py-5">
  <div class="row">
    <div class="col-12">
      <a class="py-2" href="#" aria-label="Artichoke Ruby">
        <img
          width="24"
          height="24"
          title="Artichoke Ruby"
          alt="Artichoke Ruby logo"
          src="artichoke-logo.svg"
        />
      </a>
      <small class="d-block mb-3 text-muted">&copy; 2019-2020 |
        Playground powered by a
        <a href="https://github.com/artichoke/playground">
          WebAssembly build
        </a>
        of
        <a href="https://github.com/artichoke/artichoke">Artichoke Ruby</a>.
      </small>
    </div>
    <div class="col-xs-12 col-md-4">
      <h5>Project</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="https://github.com/artichoke">
            Organization
          </a>
        </li>
        <li>
          <a
            class="text-muted"
            href="https://github.com/artichoke/artichoke/blob/master/VISION.md"
          >
            Vision
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="text-muted"
            href="https://github.com/artichoke/playground/issues/new"
          >
            File a bug
          </a>
        </li>
        <li>
          <a
            class="text-muted"
            href="https://artichoke.github.io/artichoke/artichoke/"
          >
            Crate docs
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <h5>Social</h5>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://twitter.com/artichokeruby">
            <img
              alt="Twitter logo"
              width="40"
              height="40"
              src="social/twitter-logo.svg"
            />
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/artichoke">
            <img
              alt="GitHub logo"
              width="40"
              height="40"
              src="social/octicons-github-logo.svg"
            />
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://discord.gg/QCe2tp2">
            <img
              alt="Discord logo"
              width="40"
              height="40"
              src="social/discord-logo.svg"
            />
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://hub.docker.com/u/artichokeruby">
            <img
              alt="Docker logo"
              width="40"
              height="40"
              src="social/docker-logo.svg"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
