<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container d-flex flex-row justify-content-between">
    <a class="navbar-brand" href="/" aria-label="Artichoke Ruby">
      <img
        class="float-start"
        width="40"
        height="40"
        title="Artichoke Ruby"
        alt="Artichoke Ruby logo"
        src="artichoke-logo.svg"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container d-flex flex-column flex-md-row justify-content-end">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www.artichokeruby.org/install/">
              Install
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.artichokeruby.org">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/QCe2tp2">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/artichoke/playground">
              Code
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Docs
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/artichoke/"
                >
                  artichoke
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/artichoke_core/"
                >
                  artichoke-core
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/artichoke_backend/"
                >
                  artichoke-backend
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_array/"
                >
                  spionso-array
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_env/"
                >
                  spionso-env
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_exception/"
                >
                  spionso-exception
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_math/"
                >
                  spionso-math
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_random/"
                >
                  spionso-random
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_securerandom/"
                >
                  spionso-securerandom
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_symbol/"
                >
                  spionso-symbol
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="https://artichoke.github.io/artichoke/spinoso_time/"
                >
                  spionso-time
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
