<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-158900370-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-158900370-1");
    </script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Artichoke Ruby Playground" />
    <meta property="og:site_name" content="artichoke.run" />
    <meta property="og:url" content="https://artichoke.run/" />
    <meta
      property="og:description"
      content="Try Artichoke! The Artichoke Playground is a WebAssembly frontend for Artichoke Ruby."
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://artichoke.run/logo.png" />
    <title>Artichoke Ruby Playground</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="wrapper" class="min-vh-100 vh-100 d-flex flex-column flex-grow">
      <%= require('html-loader!./partials/nav.html') %>

      <div
        id="embeddable"
        class="w-100 h-100 px-1 d-flex flex-column flex-grow"
      >
        <div class="d-flex py-1">
          <button id="run" type="button" class="btn btn-primary">Run</button>
          <pre
            class="mx-2 my-auto"
          ><code id="artichoke-build-info">Loading ...</code></pre>
        </div>
        <div class="row w-100 h-100">
          <div id="editor" class="h-100 col-8"></div>
          <pre id="output" class="h-100 col-4 pl-1 border overflow-auto"></pre>
        </div>
      </div>
    </div>

    <%= require('html-loader!./partials/footer.html') %>

    <script type="text/javascript">
      // eslint-disable-next-line no-unused-vars, no-var
      var Module = {
        onRuntimeInitialized: () => {
          window.artichoke = _artichoke_web_repl_init();
          document.getElementById(
            "artichoke-build-info"
          ).innerText = _artichoke_build_info();
          document
            .getElementById("run")
            .addEventListener("click", _artichoke_playground_eval);
        },
      };
    </script>
  </body>
</html>
