---
name: Documentation
"on":
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk
  schedule:
    - cron: "0 0 * * TUE"
concurrency:
  group: docs-${{ github.head_ref }}
env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
jobs:
  rustdoc:
    name: Build Rust API docs
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -D warnings -D rustdoc::broken_intra_doc_links --cfg docsrs
      RUST_BACKTRACE: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.2

      - name: Install Rust toolchain
        uses: artichoke/setup-rust/rustdoc@v1.9.0

      - name: Install emscripten target
        run: rustup target add wasm32-unknown-emscripten

      - name: Set toolchain versions
        run: |
          echo "emscripten=$(cat emscripten-toolchain)" >> $GITHUB_OUTPUT
        id: toolchain_versions

      - name: Install Emscripten toolchain
        uses: mymindstorm/setup-emsdk@ab889da2abbcbb280f91ec4c215d3bb4f3a8f775 # v12
        with:
          version: ${{ steps.toolchain_versions.outputs.emscripten }}
          no-cache: true

      - name: Verify emcc version
        run: emcc -v

      - name: Check docs with no default features
        run: cargo doc --workspace --no-default-features

      - name: Check docs with no default features (emscripten)
        run: cargo doc --workspace --no-default-features --target wasm32-unknown-emscripten

      - name: Clean docs
        run: cargo clean

      - name: Build Documentation
        run: cargo doc --workspace

      - name: Build Documentation (emscripten)
        run: cargo doc --workspace --target wasm32-unknown-emscripten
